/* Navigation Tabs */
#nav-tab {
  background: #111;

}

#nav-tab-main {
  margin-top: -2%;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
  transition: background 0.3s;
}

.nav-link.active {
  background: #16a085;
  color: #fff;
}
/* About Section */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0; /* Adjust top and bottom padding as needed */
  background: rgba(22, 22, 22, 0.9);
  min-height: 100vh;
}

.about-section p {
  margin-bottom: 2rem; /* Reduce the margin bottom to adjust spacing */
}

#uploadFolder,
#btnSubmit,
#btnSaveConfig,
#showInvalid {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: #16a085;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.3s;
}
#uploadFolder:hover,
#btnSubmit:hover,
#btnSaveConfig:hover,
#showInvalid:hover {
  color: #000; 
}
#btnSubmit:disabled, 
#showInvalid:disabled {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  cursor: not-allowed;
}

#allowedFormat {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-left: 58%;
  margin-top: -35%; /* Adjust this value as needed */
  width: 100%;
}
    
#configInput {
  margin-left: -30%;
}

#othersFormat {
  margin-left: 13%;
}

#othersFormatText {
  margin-left: 15%;
}
#uploadFolder{
  font-weight: bold;
  margin-top:11%;
  margin-left: 1%;
}

/* Selected Folder Text Styles */
#selectedFolderText {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: medium;
  width: 100%;
}
  
  #categoryDropDown{
    margin-left: 25%;
    font-weight: bold;
  }
  
  #numberInput{
    float:left;
  }  


  html, section {
      margin: 0;
      height: 100%;
  }

  .simple-text{
    color:rgba(255, 255, 255, 0.5) ;
    font-weight:bold;
    font-size: medium;
  }
  
  .head-text{
    text-decoration: underline;
  
  }
  #result {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    padding: 20px; 
    font-family: 'Varela Round';
    font-size: xx-large;
  }

  

  